*.log

docker/wp-content/themes
docker/wp-content/plugins/
docker/data/wp_db_dump.sql

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
[Dd]esktop.ini

# Windows shortcuts
*.lnk
