[submodule "html/wp-content/themes/wp-oii-theme"]
	path = html/wp-content/themes/wp-oii-theme
	url = https://github.com/navnorth/wp-oii-theme.git
[submodule "html/wp-content/themes/wp-oet-theme"]
	path = html/wp-content/themes/wp-oet-theme
	url = https://github.com/navnorth/wp-oet-theme.git
[submodule "html/wp-content/plugins/wp-stories-posts"]
	path = html/wp-content/plugins/wp-stories-posts
	url = https://github.com/navnorth/wp-stories-posts.git
[submodule "html/wp-content/plugins/wp-content-mirror"]
	path = html/wp-content/plugins/wp-content-mirror
	url = https://github.com/navnorth/wp-content-mirror.git
[submodule "html/wp-content/plugins/wp-gap-analysis"]
	path = html/wp-content/plugins/wp-gap-analysis
	url = https://github.com/navnorth/wp-gap-analysis.git
[submodule "html/wp-content/themes/wp-oese-theme"]
	path = html/wp-content/themes/wp-oese-theme
	url = https://github.com/navnorth/wp-oese-theme.git
